<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>会员注册·初见花店</title>
		<script src="./js/vue.js"></script>   <!-- 引入js -->
		<script src="./js/jquery.min.js"></script>
		<link rel="stylesheet" href="css/bootstrap.css" />
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/reg.css" />
	</head>
	<body>
		<div id="vueroot" class="page">
			<!-- 头部固定内容 -->
			<div class="heder">
				<!-- 最顶部注册、登录、购物车显示 -->
				<div class="hd-top">
					<div class="hd-top-left">
						<div class="ht-top-left-item">
							<!-- <img src="img/1.jpg"/> -->
							<span>关注微信</span>
							<span>微信小程序</span>
						</div>
					</div>
					<div class="hd-top-right">
						<div class="hd-top-right-item">
							<a href="reg.html">登录</a>/<a href="reg.html">注册</a>
						</div>
						<div class="hd-top-right-item">
							<a>订单查询</a>
						</div>
						<div class="hd-top-right-item">
							<span class="glyphicon glyphicon-shopping-cart"></span><a>购物车（2）</a>
						</div>
						<div class="hd-top-right-item">
							<span class="ht-top-right-item-info">中国初见花店·FirstSight</span>
						</div>
					</div>
				</div>
				<!-- logo、搜索、服务展示区 -->
				<div class="hd-display">
					<div class="hd-display-logo">
						<img src="img/logo.jpg"/>
					</div>
					<div class="hd-display-serch">
						<div class="col-lg-6" >
							<div class="input-group">
								<input type="text" class="form-control" placeholder="商品关键、编号">
								<span class="input-group-btn">
									<button class="btn btn-default" type="button">搜索</button>
								</span>
							</div>
						</div>
					</div>
					<div class="hd-display-service">
						<div class="hd-display-service-item">
							<span><span class="glyphicon glyphicon-earphone"></span>15500000000</span>
						</div>
						<div class="hd-display-service-item">
							<span><span class="glyphicon glyphicon-comment"></span>在线客服</span>
						</div>
					</div>
				</div>
			</div>
			
			<!-- 主体部分 -->
			<div class="body">
				
				<!-- 主体内容 -->
				<div class="bd-con">
					<div class="bd-con-top">
						<div class="btn-group" role="group" >
						  <button type="button" class="btn btn-default" v-on:click="showLogin">登录</button>
						  <button type="button" class="btn btn-default" v-on:click="showReg">注册</button>
						</div>
					</div>
					<div class="bd-con-main">
						<div class="bd-con-main-login" v-if="showlogin">
							<input type="text" class="form-control" placeholder="请输入手机号" aria-describedby="basic-addon1">
							<input type="password" class="form-control" placeholder="用户密码" aria-describedby="basic-addon1">
							<span v-show="showtips">手机号格式错误！</span>
							<button type="button" class="btn btn-default">登&nbsp;&nbsp;&nbsp;&nbsp;录</button>
						</div>
						<div class="bd-con-main-reg" v-if="showreg">
							<input type="text" class="form-control" placeholder="请输入您的手机号" aria-describedby="basic-addon1">
							<input type="password" class="form-control" placeholder="密码" aria-describedby="basic-addon1">
							<input type="password" class="form-control" placeholder="再次输入密码" aria-describedby="basic-addon1">
							<input type="text" class="form-control vercode" placeholder="验证码" aria-describedby="basic-addon1">
							<img src="https://dc.1zdz.cn/api/root/createCodeImg.php" /><br>
							<span v-show="showtips">手机号格式错误！</span>
							<button type="button" class="btn btn-default">立即注册</button>
						</div>
					</div>
				</div>
				
			</div>
			
			<!-- 底部固定部分 -->
			<div class="footer">
				<!-- 引导关注部分 -->
				<div class="ft-focus">
					<img src="img/focus.png" />
					<img src="img/focus2.png" />
				</div>
				
				<!-- 底部菜单显示 -->
				<div class="ft-menu">
					<img src="img/ft-menu.png" />
				</div>
				
				<!-- 认证展示 -->
				<div class="ft-scurity">
					<img src="img/ft-scurity.png" />
				</div>
				
				<!-- 资质备案许可展示 -->
				<div class="ft-info">
					<img src="img/ft-info.png" />
				</div>
			</div>
		</div>
		<script>
			new Vue({
				el:"#vueroot",
				data:{
					showlogin: true,
					showreg: false,
					showtips: false,
				},
				methods:{
					showLogin: function(){
						this.showlogin = true;
						this.showreg = false;
					},
					showReg: function(){
						var that = this;
						this.showlogin = false;
						this.showreg = true;
						$.getJSON("https://dc.1zdz.cn/api/root/getCreateCode.php",function(data){
							console.log(data);
						});
					}
				},
				updated: function(){
					
				},
			})
		</script>
	</body>
</html>
